@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", serif;
  color: white;
}

body {
  margin: 0;
  background-color: black;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1240px;
  margin: 0 auto;
  /* padding: 0 100px; */
}

.sticky{
  position: sticky;
  top: 0;
  z-index: 10;
}

@media (max-width: 1199.98px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 991.98px) {
  .container {
    width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}


/* Wrapper  */

.wrapper {
  position: relative;
}

/* End Wrapper */

/* Header */

.header{
  background: black;
}

.header__wrapper {
  display: flex;
  padding: 30px 0px;
  align-items: center;
}

.header__menu-bar{
  font-size: 20px;
  display: none;
}

.header__logo {
  flex: 1;
}

.header__nav {
  display: flex;
  flex: 3;
  justify-content: center;
  gap: 70px;
}

.header__utility {
  flex: 1;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}

.header__utility i {
  cursor: pointer;
  font-size: 20px;
}

.header__overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.2s;
}

.header__nav-input:checked ~ .header__overlay{
  display: block;
}

.header__nav-input:checked ~ .header__nav-mobile{
  transform: translateX(0%);
  opacity: 1;
}

.header__nav-mobile{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: white;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform ease-in-out 0.2s, opacity ease-in-out 0.2s;
}

.header__nav-mobile-close{
  color: black;
  font-size: 24px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.header__nav-mobile-list {
  margin-top: 50px;
  margin-left: 20px;
}

.header__nav-mobile-list li a {
  color: black !important;
  display: block;
  font-size: 25px;
  padding: 10px 0px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@media (max-width: 1199.98px) {
  .header__nav{
    gap: 50px;
  }
}

@media (max-width: 991.98px) {
  .header__nav{
    display: none;
  }

  .header__menu-bar{
    display: block;
    margin-right: 20px;
  }
}

@media (max-width: 767.98px) {
  .header__nav{
    display: none;
  }

  .header__menu-bar{
    display: block;
    margin-right: 20px;
  }
}

@media (max-width: 575.98px) {
  .header__nav{
    display: none;
  }

  .header__menu-bar{
    display: block;
    margin-right: 20px;
  }
}


/* End Header */

/* Search */

.search{
  width: 100%;
  position: fixed;
  top: 0;
  height: 0;
  bottom: 0;
  opacity: 0;
  transition: top 0.3s ease-in-out;
  background-color: white;
  overflow: hidden;
  z-index: 20;
  transition: height 0.3s ease-out, opacity 0.2s ease-out;
}

.search.active{
  opacity: 1;
  height: auto;
  overflow-y: scroll;
  /* height: 100%; */
}

.search__wrapper {
  padding: 10px 0;
  
}

.search__logo {
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search__logo img{
  width: 15%;
}

.search__text {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 30px;
}

.search__text input {
  border: 0;
  outline: none;
  display: inline-block;
  flex: 1;
  color: black;
  font-size: 18px;
}

.search__text button {
  background-color: transparent;
  border: 0;
}

.search__text i {
  color: black;
  font-size: 25px;
  cursor: pointer;
}

.search__popular {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.search__popular h3{
  color: black ;
  text-transform: uppercase;
}

.search__popular ul {
  display: flex;
  gap: 10px;
}

.search__popular ul li {
  color: black;
}

.search__new-product{
  margin-bottom: 50px;
}

.search__new-product h3 {
  color: black;
  margin-bottom: 20px;
}

.search__product-list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.search__product-item{
  color: black;
  background: linear-gradient(to bottom, gray, black);
  display: block;
  aspect-ratio: 1/1;
  overflow: hidden;
  position: relative;
}

.search__product-wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.search__product-item img {
  width: 80%;
  aspect-ratio: 1/1;
  object-fit: contain;
  object-position: center;
}

.search__product-content{
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.search__product-content p {
  color: #AB572D;
  font-weight: 700;
}

.search__category{
  margin-bottom: 50px;
}

.search__category h3{
  color: black;
  margin-bottom: 20px;
}

.search__result {
  margin-bottom: 50px;
}

.search__result h3 {
  color: black;
  margin-bottom: 20px;
}

.search__footer{
  color: black;
  font-weight: 500;
  font-size: 18px;
  border-top: 1px solid black;
  padding: 15px 0;
  text-align: center;
}

/* End Search */

/* Auth */

.auth__wrapper {
  width: 100%;
  /* background-color: wheat; */
}

.auth__nav {
  font-size: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.auth__nav a {
  color: rgba(255, 255, 255, 0.3);
}

.auth__nav .active {
  color: white;
}

.auth__form {
  width: 35%;
  background-image: url('../../images/bg-1.png');
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode:darken;
  background-size: cover;
  background-position: center;
  padding: 100px 0px;
  margin: 50px auto;
  height: 600px;
}

.auth__form input {
  margin-bottom: 30px;
}

.auth__form input[type="text"],
input[type="password"] {
  width: 100%;
  font-size: 20px;
  background: transparent;
  outline: none;
  border: 3px solid white;
  font-weight: 500;
  padding: 10px;
}

.auth__form button {
  background-color: #AB572D;
  outline: none;
  border: 0;
  width: 100%;
  font-size: 20px;
  padding: 5px;
}


/* End Auth */

/* Footer */
.footer {
  background: radial-gradient(circle at center,
      rgba(40, 40, 40, 1) 0%,
      rgba(20, 20, 20, 1) 50%,
      rgba(0, 0, 0, 1) 100%);
}

.footer__wrapper {
  padding: 30px 0px;
}

.footer__info {
  display: flex;
  gap: 320px;
  align-items: center;
  padding-bottom: 26px;
  margin-bottom: 26px;
  border-bottom: 1px solid #333333;
}

.footer__contact {
  flex: 5;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.footer__mobile{
  width: 100%;
  display: none;
}

.footer__mobile ul{
  display: flex;
  flex-wrap: wrap;
}

.footer__mobile ul li{
  text-align: center;
}

.footer__mobile ul li:first-child{
  width: 50%;
  margin-bottom: 15px;
}

.footer__mobile ul li:nth-child(2){
  width: 50%;
  margin-bottom: 15px;
}

.footer__mobile ul li:last-child{
  width: 100%;
}

.footer__subscribe h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 26px;
}

.footer__subscribe p {
  font-weight: 400;
  margin-bottom: 26px;
}

.footer__form {
  /* width: 100%; */
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.footer__form input {
  width: 100%;
  padding: 10px;
  background-color: #1D1D1D;
  border: 0;
  outline: none;
}

.footer__form button {
  background-color: #AB572D;
  padding: 10px 18px;
  border: 0;
  cursor: pointer;
}

.footer__social i {
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 15px;
}

.footer__social .facebook {
  background-color: #3B5998;
}

.footer__social .instagram {
  background: linear-gradient(45deg,
      #405de6,
      #5851db,
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d);
}

.footer__nav {
  flex: 7;
  display: flex;
  justify-content: space-between;
}

.footer__col h3 {
  margin-bottom: 10px;
}

.footer__col ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__copyright {
  text-align: center;
}

@media (max-width: 1199.98px) {
  .footer__info{
    gap: 200px;
  }
}

@media (max-width: 991.98px) {
  .footer__info{
    gap: 50px;
  }
}

@media (max-width: 767.98px) {
  .footer {
    background: none;
    background-color: black !important;
  }

  .footer__nav{
    display: none;
  }

  .footer__subscribe{
    display: none;
  }

  .footer__contact{
    align-items: center;
  }

  .footer__mobile{
    display: block;
  }
}

@media (max-width: 575.98px) {
  .footer {
    background: none;
    background-color: black !important;
  }

  .footer__nav{
    display: none;
  }

  .footer__subscribe{
    display: none;
  }

  .footer__contact{
    align-items: center;
  }

  .footer__mobile{
    display: block;
  }

}

/* End Footer */