.style1_button {
  width: 140px;
  height: 50px;
  background-color: #ab572d;
  color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.style1_button:hover{
  transform: scale(1.05);
  background-color: #c76a35;
  color: #fff;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.2);
}

@media (max-width: 575.98px) {
  .style1_button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.95) translateY(40px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

/* Animaiton Section-1 */

.homePage__section1__wrapper--left,
.homePage__section1__wrapper--right {
  animation: fadeInUp 1s ease-out;
  animation-fill-mode: both;
}

.homePage__section1__wrapper--right-img img {
  transition: transform 0.5s ease;
}

.homePage__section1__wrapper--right-img img:hover {
  transform: scale(1.05);
}

.homePage__section1__wrapper--left-content-title,
.homePage__section1__wrapper--left-content-subtitle {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}

.homePage__section1__wrapper--left-content-title {
  animation-delay: 0.2s;
}

.homePage__section1__wrapper--left-content-subtitle {
  animation-delay: 0.5s;
}

/* End Animaiton Section-1 */

.homePage__section1 {
  background: radial-gradient(
    circle at left,
    rgba(40, 40, 40, 1) 0%,
    rgba(20, 20, 20, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

.homePage__section1__wrapper {
  display: flex;
  padding-bottom: 60px;
}

.homePage__section1__wrapper--left {
  width: 752px;
  height: auto;
  padding-right: 53px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homePage__section1__wrapper--left-content {
  margin-bottom: 64px;
}

.homePage__section1__wrapper--left-content-title {
  font-size: 50px;
  font-weight: 300;
  line-height: 67px;
}

.homePage__section1__wrapper--left-content-subtitle {
  font-size: 22px;
  font-weight: 200;
  line-height: 24px;

  margin-top: 14px;
  padding-bottom: 15px;
  width: 550px;
}

.homePage__section1__wrapper--right {
  width: 430.98px;
  height: 769px;
}

.homePage__section1__wrapper--right-img {
  width: 100%;
}

.homePage__section1__wrapper--right-img img {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 991.98px) {
  .homePage__section1 {
    background: radial-gradient(
      circle at center,
      rgba(40, 40, 40, 1) 0%,
      rgba(20, 20, 20, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .homePage__section1__wrapper {
    padding-bottom: 0;
  }

  .homePage__section1__wrapper--left {
    height: 750px;
    background-image: url("../../images/bg-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.5); /* Màu phủ */
    background-blend-mode: darken;
  }

  .homePage__section1__wrapper--right {
    display: none;
  }

  .homePage__section1__wrapper--left {
    width: 100%;
    padding-right: 0;
    align-items: center;
  }

  .homePage__section1__wrapper--left-content-title {
    width: 100%;
    text-align: center;
  }

  .homePage__section1__wrapper--left-content-subtitle {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .homePage__section1__wrapper--left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .homePage__section1__wrapper--left-content-title {
    width: 500px;
    font-size: 35px;
    font-weight: 800;
  }

  .homePage__section1__wrapper--left-content-subtitle {
    width: 400px;
    font-size: 18px;
    font-weight: 400;
  }
}

@media (max-width: 575.98px) {
  .homePage__section1__wrapper--left-content-title {
    width: 300px;
    font-size: 20px;
    line-height: 22px;
  }

  .homePage__section1__wrapper--left-content-subtitle {
    width: 300px;
    font-size: 14px;
  }
}

/* Animation Section 2 */
.homePage__section2__content {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

.homePage__section2__content.visible {
  opacity: 1;
  transform: translateY(0);
}

.homePage__section2__content--title,
.homePage__section2__content--main {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

.homePage__section2__content.visible .homePage__section2__content--title {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}

.homePage__section2__content.visible .homePage__section2__content--main {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}
/* End Animation Section 2 */

.homePage__section2 {
  height: 564px;
  background: url("../../images/homePage-bg-2.png") no-repeat center center /
      cover,
    rgba(0, 0, 0, 0.8);
  background-blend-mode: darken;
}

.homePage__section2__wrapper {
  height: 564px;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

.homePage__section2__content {
  width: 746px;
}

.homePage__section2__content--title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #ab572d;
  padding-bottom: 30px;
}

.homePage__section2__content--main {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

@media (max-width: 767.98px) {
  .homePage__section2__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .homePage__section2__content--title {
    font-size: 38px;
  }

  .homePage__section2__content--main {
    width: 500px;
    font-size: 14px;
  }
}

@media (max-width: 575.98px) {
  .homePage__section2__content--title {
    width: 300px;
    font-size: 30px;
  }

  .homePage__section2__content--main {
    width: 300px;
    font-size: 12px;
  }
}

/* Animation Section 3 */
.homePage__section3__content {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

.homePage__section3__content.visible {
  opacity: 1;
  transform: translateY(0);
}

.homePage__section3__content--title,
.homePage__section3__content--main {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

.homePage__section3__content.visible .homePage__section3__content--title {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}

.homePage__section3__content.visible .homePage__section3__content--main {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}

.homePage__section3__image {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 1s ease;
}

.homePage__section3__image.visible {
  opacity: 1;
  transform: translateX(0);
}
/* End Animation Section 3 */

.homePage__section3 {
  height: 575px;
}

.homePage__section3__wrapper {
  display: flex;
  gap: 100px;
}

.homePage__section3__image {
  width: 50%;
}

.homePage__section3__image img {
  width: 670px;
  height: 575px;
}

.homePage__section3__content {
  width: 50%;
  height: 575px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    circle at center,
    rgba(40, 40, 40, 1) 0%,
    rgba(20, 20, 20, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
}

.homePage__section3__subcontent {
  width: 450px;
}

.homePage__section3__content--title {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 32px;
  color: #ab572d;
}

.homePage__section3__content--main {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 20px;
  text-indent: 3em;
  text-align: justify;
}

.homePage__section3__content--submain {
  font-size: 18px;
  font-weight: 300;
  text-indent: 3em;
  text-align: justify;
}

@media (max-width: 1199.98px) {
  .homePage__section3__wrapper {
    gap: 30px;
  }

  .homePage__section3__subcontent {
    width: 400px;
  }

  .homePage__section3__image img {
    width: 500px;
    height: 428px;
  }
}

@media (max-width: 991.98px) {
  .homePage__section3 {
    display: none;
  }
}

/* Animation Section 4 */

.homePage__section4__title {
  opacity: 0;
  transform: scale(0.95) translateY(20px);
  transition: all 0.6s ease;
}

/* Khi visible */
.homePage__section4__title.visible {
  opacity: 1;
  transform: scale(1) translateY(0);
  animation: fadeZoomIn 1s ease forwards;
}

/* Sản phẩm base trạng thái */  
.homePage__section4__list--element {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.6s ease;
}

/* Khi visible */
.homePage__section4__list--element.visible {
  opacity: 1;
  transform: translateY(0);
}

.homePage__section4__list--element:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 10px 25px rgba(146, 145, 145, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.homePage__section4__list--element:hover .homePage__section4__list--element-sub-price {
  color: #ff8b55;
  transition: color 0.3s ease;
}

/* End Animation Section 4 */

.homePage__section4 {
  margin-top: 100px;
  margin-bottom: 75px;
  height: 567px;
}

.homePage__section4__title {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #ab572d;
  margin-bottom: 55px;
}

.homePage__section4__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 444px;
}

.homePage__section4__list {
  display: flex;
  gap: 25px;
}

.homePage__section4__list--element {
  width: 260px;
  height: 442px;
  background: radial-gradient(
    circle at center,
    rgba(40, 40, 40, 1) 0%,
    rgba(20, 20, 20, 1) 30%,
    rgba(0, 0, 0, 1) 100%
  );
  text-align: center;
  position: relative;
}

.homePage__section4__list--element-img img {
  width: 250px;
  height: 360px;
}

.homePage__section4__list--element-title {
  font-size: 20px;
  font-weight: 500;
}

.homePage__section4__list--element-sub {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 8px;
  position: absolute;
  bottom: 10px;
  transform: translate(50%, 50%);
}

.homePage__section4__list--element-sub-price {
  color: #ab572d;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}

.homePage__section4__list--element-sub-volume {
  font-size: 16px;
  font-weight: 300;
}

.homePage__section4__left,
.homePage__section4__right {
  cursor: pointer;
}

@media (max-width: 1199.98px) {
  .homePage__section4 {
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
  }

  .homePage__section4__main {
    height: auto;
  }

  .homePage__section4__list {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0;
  }

  .homePage__section4__left {
    margin-right: 10px;
  }

  .homePage__section4__right {
    margin-left: 10px;
  }
}

@media (max-width: 767.98px) {
  .homePage__section4__title {
    font-size: 38px;
    margin-bottom: 50px;
  }

  .homePage__section4__list--element {
    width: 200px;
    height: 350px;
  }

  .homePage__section4__list--element-img img {
    width: 200px;
    height: 266.25px;
  }
}

@media (max-width: 575.98px) {
  .homePage__section4__title {
    font-size: 30px;
  }

  /* .homePage__section4__list {
    flex-wrap: nowrap;
    justify-content: center;
  } */

  .homePage__section4__scroll-wrapper {
    overflow-x: auto;
    width: 100%;
  }
  
  .homePage__section4__list {
    width: max-content;
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
  }  

  .homePage__section4__left,
  .homePage__section4__right {
    display: none;
  }
}

/* Animation section 5 */

/* Mặc định phần tử không hiển thị */
.homePage__section5,
.homePage__section6 {
  opacity: 0;
  transform: translateY(50px); /* Dịch chuyển nhẹ phần tử */
  transition: opacity 1s ease, transform 1s ease;
}

/* Khi phần tử vào viewport (class 'visible' được thêm vào) */
.homePage__section5.visible,
.homePage__section6.visible {
  opacity: 1;
  transform: translateY(0); /* Quay lại vị trí ban đầu */
}

/* Cập nhật hiệu ứng cho button trong section5 */
.homePage__section5__main--button.visible {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.homePage__section5__title {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.3s;
}

.homePage__section5__main--content {
  opacity: 0;
  animation: fadeInUp 1.2s ease forwards;
  animation-delay: 0.6s;
}

.homePage__section5__main--subcontent {
  opacity: 0;
  animation: fadeInUp 1.4s ease forwards;
  animation-delay: 0.9s;
}

.homePage__section5__main--button {
  opacity: 0;
  animation: fadeInUp 1.6s ease forwards;
  animation-delay: 1.2s;
}
/* End Animation section 5 */

.homePage__section5 {
  height: 698px;
  margin-bottom: 70px;
}

.homePage__section5__title {
  font-size: 50px;
  font-weight: 500;
  color: #ab572d;
  text-align: center;
  margin-bottom: 92px;
}

.homePage__section5__main {
  background-image: url("../../images/bg-5.png");
  height: 538px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homePage__section5__main--content {
  font-size: 50px;
  font-weight: 500;
  width: 605px;
  margin-left: 30px;
}

.homePage__section5__main--subcontent {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 300;
  width: 570px;
  margin-top: 20px;
  margin-bottom: 68px;
}

.homePage__section5__main--button {
  margin-left: 30px;
}

@media (max-width: 991.98px) {
  .homePage__section5 {
    display: none;
  }
}

/* Animation section6 */
.homePage__section6__title {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 0.3s;
}

.homePage__section6__element {
  opacity: 0;
  animation: fadeInUp 1.2s ease forwards;
  animation-delay: 0.6s;
  position: relative;
  z-index: 1;
}

.homePage__section6__element-button {
  opacity: 0;
  animation: fadeInUp 1.4s ease forwards;
  animation-delay: 0.9s;
}

.homePage__section6__element-button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #ab572d;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.593);
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover effect cho elements */
.homePage__section6__element:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 10;
}

.homePage__section6__element-content {
  color: #333;
  transition: color 0.3s ease;
}

.homePage__section6__element:hover .homePage__section6__element-content {
  color: #ab572d;
}

/* Hover effect cho hình ảnh */
.homePage__section6__element-img img {
  transition: transform 0.3s ease;
}

.homePage__section6__element:hover .homePage__section6__element-img img {
  transform: scale(1.1);
  z-index: 20;
}

.homePage__section6__element-subcontent {
  color: #888;
  transition: color 0.3s ease;
}

.homePage__section6__element:hover .homePage__section6__element-subcontent {
  color: #fff; /* Màu trắng */
}

/* Animation cho scroll-wrapper */
.homePage__section6__scroll-wrapper {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 1.2s;
}
/* End Animation section6 */

.homePage__section6 {
  width: 100%;
  height: auto;
  margin-bottom: 135px;
}

.homePage__section6__title {
  font-size: 50px;
  font-weight: 500;
  color: #ab572d;
  text-align: center;
  margin-bottom: 100px;
}

.homePage__section6__main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage__section6__list {
  /* width: 1150px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px 5px;
}

.homePage__section6__element {
  width: 375px;
  height: 708px;
  position: relative;
}

.homePage__section6__element-img {
  margin-bottom: 55px;
}

.homePage__section6__element-img img {
  width: 375px;
  height: 375px;
}

.homePage__section6__element-content {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.homePage__section6__element-subcontent {
  font-size: 16px;
  font-weight: 400;
  /* margin-bottom: 46px; */
}

.homePage__section6__element-button {
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 141px;
  height: 36px;
  font-size: 14px;
  font-weight: 700;

  position: absolute;
  bottom: 0;
  left: 0;
}

.homePage__section6__right,
.homePage__section6__left {
  cursor: pointer;
}

.homePage__section6__right {
  margin-left: 10px;
}
.homePage__section6__left {
  margin-right: 10px;
}

@media (max-width: 767.98px) {
  .homePage__section6__title {
    font-size: 38px;
    margin-bottom: 50px;
  }

  .homePage__section6__element {
    height: 650px;
  }

  .homePage__section6__element-img {
    margin-bottom: 30px;
  }

  .homePage__section6__element-content {
    font-size: 18px;
  }

  .homePage__section6__element-subcontent {
    font-size: 14px;
  }

  .homePage__section6__right,
  .homePage__section6__left {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .homePage__section6__title {
    font-size: 30px;
  }

  .homePage__section6__element {
    width: 173px;
    height: 550px;
  }

  .homePage__section6__element-img {
    margin-bottom: 0;
  }

  .homePage__section6__element-img img {
    width: 173px;
    height: 173px;
    margin-bottom: 30px;
  }

  .homePage__section6__element-content {
    font-size: 16px;
  }

  .homePage__section6__element-subcontent {
    font-size: 12px;
  }

  /* .homePage__section6__list {
    flex-wrap: nowrap;
    gap: 20px;
  } */

  .homePage__section6__scroll-wrapper {
    overflow-x: auto;
    width: 100%;
  }
  
  .homePage__section6__list {
    width: max-content;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
  }  
}

.contactPage__wrapper {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.contactPage__left {
  width: 430px;
  height: 594px;
}

.contactPage__left--title {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 50px;
}

.contactPage__left--title span:last-child {
  color: #ab572d;
}

.contactPage__left--form form {
  display: flex;
  flex-direction: column;
}

.contactPage__left--form form input {
  color: white;
  background-color: #303030;
  height: 44px;
  margin-bottom: 27.5px;
  border-bottom: 1px solid white;
  padding-left: 8px;
}

.contactPage__left--form form input::placeholder {
  color: white;
}

.contactPage__left--form form textarea {
  color: white;
  background-color: #303030;
  height: 150px;
  margin-bottom: 27.5px;
  border-bottom: 2px solid white;
  padding-left: 8px;
  padding-top: 8px;
}

.contactPage__left--form form label input {
  display: none;
}

.contactPage__left--form form label {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
}

.contactPage__left--form form label span {
  position: relative;
  line-height: 22px;
  font-size: 12px;
  font-weight: 400;
}

.contactPage__left--form form label span:before,
.contactPage__left--form form label span:after {
  content: "";
}

.contactPage__left--form form label span:before {
  border: 1px solid #303030;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
}

.contactPage__left--form form label span:after {
  background: #303030;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 4px;
  transition: 300ms;
  opacity: 0;
}

.contactPage__left--form form label input:checked + span:after {
  opacity: 1;
}

.contactPage__left--form form textarea::placeholder {
  color: white;
}

.contactPage__left--form button {
  margin-top: 80.5px;
}

.contactPage__right {
  width: 573px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactPage__right--subcontent {
  width: 522px;
  height: 38px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-align: center;
  margin-bottom: 26px;
}

.contactPage__right--maps {
  width: 573px;
  height: 374px;
  border-radius: 10px;
}

.contactPage__right--info {
  margin-top: 30px;
  width: 522px;
  display: flex;
  justify-content: space-between;
}

.contactPage__right--info-item {
  display: flex;
  margin-bottom: 14px;
}

.contactPage__right--info-item:last-child {
  margin-bottom: 0;
}

.contactPage__right--info-item_icon img {
  width: 20px;
  height: 24px;
  margin-right: 17px;
}

.contactPage__right--info-item_content {
  font-size: 16px;
  font-weight: 400;
}

.contactPage__right--info-right_icon img {
  width: 18.75px;
}

.contactPage__right--info-right_icon img:first-child {
  margin-right: 13px;
}

@media (max-width: 1199.98px) {
  .contactPage__right {
    width: 400px;
  }

  .contactPage__right--subcontent {
    width: 400px;
  }

  .contactPage__right--maps {
    width: 400px;
    height: 261px;
  }

  .contactPage__right--info {
    width: 400px;
  }
}

@media (max-width: 991.98px) {
  .contactPage__wrapper {
    flex-direction: column-reverse;
    width: 100%;
  }

  .contactPage__left {
    width: 720px;
    height: 500px;
    padding-top: 0;
  }

  .contactPage__left--title {
    position: relative;
    width: 100%;
    top: -650px;
    text-align: center;
    margin-bottom: 0;
  }

  .contactPage__left--form {
    display: flex;
    justify-content: center;
  }

  .contactPage__left--form form {
    width: 522px;
  }

  .contactPage__left--form form input {
    width: 522px;
  }

  .contactPage__left--form form textarea {
    width: 522px;
  }

  .contactPage__right {
    width: 100%;
  }

  .contactPage__right--subcontent {
    width: 522px;
    padding-top: 18px;
  }

  .contactPage__right--maps {
    width: 573px;
    height: 374px;
  }

  .contactPage__right--info {
    width: 522px;
  }

  .contactPage__left--form button {
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-width: 767.98px) {
  .contactPage__left {
    width: 100%;
  }

  .contactPage__right--subcontent {
    width: 400px;
  }
}

@media (max-width: 575.98px) {
  .contactPage__right--info {
    width: 345px;
  }

  .contactPage__right--subcontent {
    width: 345px;
  }

  .contactPage__left--form form input {
    width: 100%;
  }

  .contactPage__left--form form textarea {
    width: 100%;
  }

  .contactPage__right--maps {
    width: 426px;
    height: auto;
  }

  .contactPage__left--title {
    top: -520px;
  }
}

/* Animation Contact Page */
.contactPage__wrapper {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUpContact 1s ease forwards;
  animation-delay: 0.3s;
}

.contactPage__left,
.contactPage__right {
  opacity: 0;
  transform: translateY(60px);
  animation: fadeInUpContact 1s ease forwards;
}

.contactPage__left {
  animation-delay: 0.3s;
}

.contactPage__right {
  animation-delay: 0.6s;
}

.contactPage__right--maps {
  opacity: 0;
  transform: scale(0.95);
  animation: zoomInMap 0.8s ease forwards;
  animation-delay: 0.8s;
}

@keyframes fadeInUpContact {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomInMap {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/* End Animation Contact Page */

.homePage__section4__scroll-wrapper::-webkit-scrollbar,
.homePage__section6__scroll-wrapper::-webkit-scrollbar {
  height: 8px;
}

.homePage__section4__scroll-wrapper::-webkit-scrollbar-track,
.homePage__section6__scroll-wrapper::-webkit-scrollbar-track {
  background: #111;
  border-radius: 4px;
}

.homePage__section4__scroll-wrapper::-webkit-scrollbar-thumb,
.homePage__section6__scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #ab572d;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.homePage__section4__scroll-wrapper::-webkit-scrollbar-thumb:hover,
.homePage__section6__scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #c76a35;
}

.homePage__section4__scroll-wrapper,
.homePage__section6__scroll-wrapper {
  scrollbar-width: thin;
  scrollbar-color: #ab572d #111;
}