/* About */

.about__section1 {
  background-image: url("../../images/tt-bg-1.png");
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: darken;
  background-size: cover;
  margin: 100px 0 0 0;
}

.about__section1-wrapper {
  padding: 200px 0;
}

.about__section1-content {
  width: 750px;
  margin: 0 auto;
}

.about__section1-title {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 55px;
}

.about__section1-desc {
  font-size: 20px;
  font-family: 400;
  text-align: center;
}

.about__section2 {
  margin: 100px 0 0 0;
}

.about__section2-wrapper {
  padding: 150px 0;
}

.about__section2-content {
  width: 850px;
  margin: 0 auto;
}

.about__section2-story {
  font-size: 32px;
  font-family: 500;
  color: #ab572d;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 10px;
}

.about__section2-story-desc {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.about__section3 {
  margin: 100px 0 0 0;
}

.about__section3-wrapper {
  width: 100%;
}

.about__section3-image {
}

.about__section4 {
  margin: 100px 0 100px 0;
}

.about__section4-wrapper {
}

.about__section4-unique {
  margin: 0 auto;
}

.about__section4-unique-title {
  margin-bottom: 30px;
}

.about__section4-unique-title {
  font-size: 32px;
  font-weight: 500;
  color: #ab572d;
  text-transform: capitalize;
  text-align: center;
}

.about__section4-unique-items {
  display: flex;
  gap: 100px;
}

.about__section4-unique-item {
  width: 340px;
}

.about__section4-unique-strong {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.about__section4-unique-normal {
  font-size: 20px;
  font-weight: 400;
}

.about__section4-invite {
  margin-top: 65px;
}

.about__section4-invite-paraph {
  font-size: 20px;
  font-weight: 400;
}
/* End About */

/* Contact */

.contact__section1 {
  margin: 100px 0 200px 0;
}

.contact__section1-wrapper {
  margin: 0 auto;
}

.contact__section1-title {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}

.contact__section1-content {
  display: flex;
  margin-top: 120px;
  gap: 50px;
}

.contact__section1-item {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  width: 750px;
}

.contact__section1-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  font-size: 22px;
  font-weight: 800;
  font-weight: bold;
  cursor: pointer;
  height: 75px;
}

.contact__section1-header-button {
  background: none;
  border: none;
  font-size: 32px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.contact__section1-item-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 18px;
  background-color: #292929;
  width: 750px;
  border-radius: 0 0 10px 10px;
  transition: max-height 0.4s ease-in-out, padding 0.3s ease-in-out;
}

.contact__section1-email {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  width: 400px;
  padding: 0 32px;
}

.contact__section1-email-icon {
  width: 67px;
  height: 63px;
  margin-top: 65px;
}

.contact__section1-email-header {
  margin-top: 45px;
  font-size: 22px;
  font-weight: 800;
}

.contact__section1-email-detail {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 600;
}

.contact__section1-email-button {
  margin-top: 60px;
  width: 300px;
  height: 60px;
  background-color: rgba(171, 87, 45, 1);
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 800;
  border-radius: 20px;
}
/* End Contact */

/*Start user overview*/
.section1__wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 35px;
}

.section1__avatar {
  width: 225px;
  height: 225px;
  margin-right: 50px;
  position: relative;
}

.section1__info-name {
  font-weight: 900;
  font-size: 36px;
}
.section1__info-status {
  font-weight: 500;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.8);
}

.user-overview__section2 {
  margin-top: 25px;
}
.section2__wrapper {
  display: flex;
}

.section2__left-section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 15px;
  margin-right: 25px;
}

.left-section__option {
  display: flex;
  justify-self: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 15px;
}

.option__icon {
  width: 20px;
  height: 23px;
  margin-right: 25px;
}

.option__text {
  font-weight: 500;
  font-size: 24px;
}

.right-section__info-section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px;
}

.right-section__order-section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px;
  margin-top: 40px;
}

.right-section__password-section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px;
  margin-top: 40px;
}

.section__title {
  font-weight: 900;
  font-size: 28px;
  margin-bottom: 20px;
}

.info-section__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.form-group__lable {
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.form-group__input {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 15px;
  width: 405px;
  height: 60px;
}

.form-submit__btn {
  background-color: rgba(171, 87, 45, 1);
  border-radius: 8px;
  margin-top: 35px;
  padding: 30px 20px;
  font-size: 24px;
  font-weight: 700;
}

.order-section__table {
  width: 100%;
  border-collapse: collapse;
  background: #111;
}

.order-section__table th,
.order-section__table td {
  padding: 12px;
  border-bottom: 1px solid #333;
  text-align: left;
}

.order-section__table th {
  background: #222;
}

.order-section__table a {
  color: rgba(171, 87, 45, 1);
  text-decoration: none;
}

.order-section__table a:hover {
  text-decoration: underline;
}

input[type="password"] {
  all: unset;
}

/*End user overview*/

/*Start user profile*/

.user-profile__section2 {
  margin-top: 25px;
}

.right-section__user-details {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 30px;
}

.active__option {
  background-color: rgba(171, 87, 45, 1);
  border-radius: 10px;
}

/*End user profile*/

/*Start history order*/
.history__section2 {
  margin-top: 25px;
}
/*End history order*/

/*Start password*/
.password__section2 {
  margin-top: 25px;
}
/*End password*/
